@media (max-width: 767px) {

    :root {
        --container-padding: 18px;
    }

    .section {
        padding-block:
            80px;
    }

    .hero {
        min-height:
            auto;

        padding-top:
            120px;

        padding-bottom:
            80px;
    }

    .card {
        padding:
            24px;
    }

    .section-head h2 {
        font-size:
            38px;
    }

    .section-head p {
        font-size:
            16px;
    }

    .btn {
        width:
            100%;
    }
}
